/GTSRB-Training_fixed
/Act3_FeatureExtraction/FeatureMatrix_stop.txt
/Act3_FeatureExtraction/FeatureMatrix_bike_crossing.txt
/Act3_FeatureExtraction/FeatureMatrix_no_entry.txt
/Act3_FeatureExtraction/FeatureMatrix_curve_right.txt
/Act3_FeatureExtraction/FeatureMatrix_left_turn.txt
/Act3_FeatureExtraction/FeatureMatrix_speed_limit_100.txt